# Some generic matching files that do not need be tracked.
**/*.log
**/*.o
**/*.exe
**/*.a
**/*.lib
**/*.so
**/*.dll

# Some project files that do not need to be tracked.
.commit.message

# Some generic matching directorys that do not need be tracked.
**/cache/**
**/build/**
**/imagedir/**
**/.obsidian/**
**/.idea/**
**/.vscode/**
**/cmake-build-debug/**
